@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --ff-primary: 'Inter', sans-serif;
  --fs-primary: 0.9375rem;
}

body {
  font-family: var(--ff-primary);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.scroll-lock {
  overflow-y: hidden;
}

#primary-navigation {
  transition: transform 250ms;
}

#primary-navigation[aria-expanded='true'] {
  transform: translateX(0);
}

.close-icon {
  display: none;
}

.mobile-nav-toggle[data-expanded='true'] .menu-icon {
  display: none;
}

.mobile-nav-toggle[data-expanded='true'] .close-icon {
  display: block;
}
